@import "./styles/tokens.css";
@import "./styles/base.css";
@import "./styles/sections/header.css";
@import "./styles/sections/home.css";
@import "./styles/sections/about.css";
@import "./styles/sections/experience.css";
@import "./styles/sections/projects.css";
@import "./styles/sections/education.css";